<!-- <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Sign in </h3><br>
                <form [formGroup]="loginForm" (ngSubmit)="userAuthentication()">
               
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required"  class="errorMsg">Email is required</div>
                            <div *ngIf="f.email.errors.email"  class="errorMsg">Email must be a valid email address</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required" class="errorMsg" >Password is required</div>
                            <div *ngIf="f.password.errors.minlength"  class="errorMsg">Password must be at least 6 characters</div>
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <button class="btn btn-primary" >Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div> -->

<!-- 
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<section class="login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">

                <div class="alert alert-danger" *ngIf="message">
                        <strong >{{message}}</strong> 
               </div>

		    <h2 class="text-center">Login Now</h2>
            <form [formGroup]="loginForm" (ngSubmit)="userAuthentication()">
                   
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase">Username</label>
    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required"  class="errorMsg">Email is required</div>
                            <div *ngIf="f.email.errors.email"  class="errorMsg">Email must be a valid email address</div>
                       
                        </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required" class="errorMsg" >Password is required</div>
                            <div *ngIf="f.password.errors.minlength"  class="errorMsg">Password must be at least 6 characters</div>
                        </div>
  </div>
  
  
    <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      <small>Remember Me   </small>  </label>
      
      <!-- <a [routerLink]="[ '/', 'signup' ]" routerLinkActive="active">signup</a> -->
      <label class="form-check-label">
      <small style="margin-left:70px" [routerLink]="[ '/', 'signup' ]" class="context-menu">New User  </small>
   </label>
    <div class="form-group">
            <button class="btn btn-primary" >Log in</button>
        </div>
  </div>
  
</form>

</div>
</div>
</div>
</section>