<div cdkDropListGroup class="body" style="height:100vh">
  <br>
  <div class="col-md-2"></div>
  <div class="col-md-7">
  <h2 style="text-align:center">{{eventName | uppercase}} </h2>
  </div>
  <div class="col-md-2"></div>
  <div class="example-container" style="margin-left: 140px">
    <h2 class="h2">To do</h2>
    <form [formGroup]="taskForm" >
    <div id=1
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">

      <button type="button" class="btn btn-link"><span class="glyphicon glyphicon-plus" placeholder="Enter Task" (click)="openTextbox()" *ngIf="!openTxtBox"></span>
        <span class="glyphicon glyphicon-minus" placeholder="Enter Task" (click)="closeTextbox()" *ngIf="openTxtBox"></span>
      </button>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
          <input type="text" formControlName="taskName" class="form-control"  *ngIf="openTxtBox" >
      </div>
      <div class="col-md-1">
          
          <button type="button" class="btn btn-primary" *ngIf="savemode" (click)="saveTask()" >Save</button>
          
     
          <button type="button" class="btn btn-danger" *ngIf="updatemode" (click)="updateTask()" >Update</button>
     
      </div>
    </div>
   <div *ngFor="let item of todo" id="{{item.id}}">
      <div class="example-box"  *ngIf="item.event_id_fk" cdkDrag  id="item.id">{{item.taskname}}<a >
          <span class="glyphicon glyphicon-pencil" (click)="getById(item.id)"></span>
        </a></div>
    </div>
  </div>
    </form>
  </div>

  <div class="example-container">
    <h2 class="h2">Doing</h2>

    <div id=2
      cdkDropList
      [cdkDropListData]="doing"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of doing" id="{{item.id}}">
        <div class="example-box"  *ngIf="item.event_id_fk" value="item.id" cdkDrag id="item.id">{{item.taskname}}</div>
      </div>
    </div>
  </div> 

  <div class="example-container">
    <h2 class="h2">Done</h2>

    <div id=3
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of done" id="{{item.id}}" >
        <div class="example-box"  *ngIf="item.event_id_fk" value="item.id" cdkDrag id="item.id" >{{item.taskname}}</div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-primary">
                      <div class="panel-heading" id="accordion">
                          <span class="glyphicon glyphicon-comment"></span> Liva update
                          <div class="btn-group pull-right">
                              <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                  <span class="glyphicon glyphicon-chevron-down"></span>
                              </a>
                          </div>
                      </div>
                  <div class="panel-collapse collapse" id="collapseOne">
                      <div class="panel-body">
                          <ul class="chat">
                              <li class="left clearfix"><span class="chat-img pull-left">
                                  <img src="http://placehold.it/50/55C1E7/fff&text={{fname}}" alt="User Avatar" class="img-circle" />
                              </span>
                                  <div class="chat-body clearfix">
                                      <div class="header">
                                          <strong class="primary-font">{{this.username}}</strong> <small class="pull-right text-muted">
                                              <span class="glyphicon glyphicon-time"></span>{{curDate | date:'yyyy-MM-dd'}}</small>
                                      </div><br>
                                      <div *ngFor="let res of liveResult" style="text-align:center">
                                         <strong>{{res}}.</strong><hr>
                                        
                                      </div> 
                                  </div>
                              </li>
                             
                          </ul>
                      </div>
                      <!-- <div class="panel-footer">
                          <div class="input-group">
                              <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                              <span class="input-group-btn">
                                  <button class="btn btn-warning btn-sm" id="btn-chat">
                                      Send</button>
                              </span>
                          </div>
                      </div> -->
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
 
 
</div>

