<nav class="navbar" *ngIf="!router.url.includes('login')" >
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="" style="color:white;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> MY-PROJECT </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="pull-right">
          <ul class="nav pull-right" >
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">Welcome, {{username}} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="/user/preferences"><i class="icon-cog"></i> profile</a></li>
                      <li class="divider"></li>
                      <li><button class="btn btn-danger btn-md" (click)="logout()"><i class="icon-off"></i>logout    <span class="glyphicon glyphicon-log-out"></span></button></li>
                  </ul>
              </li>
          </ul>
        </div>
      </div>
  </div>
  </nav>