
<div class="container" class="body" style="height:100vh">
<div class="row" >
 
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <!-- <div class="row"> -->
          <ng-container *ngFor="let board of boardDetails; let i= index">
              <div class="col-md-4">
                  <div class="card-counter info">
                   <a href="#" routerLink="/board/{{board.id}}"><p class="count-numbers">{{board.hname}}</p></a>
                  </div>
                </div>
          </ng-container>
        
  <!-- </div> -->
  <div class="col-md-4">
      <div class="card-counter danger">
        <i class="fa fa-ticket"></i>
        <span ><a href="#"   data-toggle="modal" data-target="#myModal"><h5 class="count-numbers">Create New </h5></a></span>
      </div>
    </div>

  

<div class="col-md-2">
    
</div>
  </div>
 

  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      <form [formGroup]="boardForm" >
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create New Board</h4>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" formControlName="hname" id="hname">
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="saveBoard()" data-dismiss="modal">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
          </div>
        </div>
      </form>
      </div>
    </div>
    
  </div>
  </div>
  



    
